@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap');

body {
    font-family: 'Lexend', sans-serif;
}
  /* Animation for fading in and sliding the text */
  .fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.2s ease forwards;
}

/* Keyframes for the fade and slide effect */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Sidebar Styling */
#menu-toggle:checked + .sidebar {
    transform: translateX(0);
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 50;
}

/* Hide regular navigation links on smaller screens */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    /* Hamburger button */
    .hamburger {
        display: block;
    }
}

/* Show the regular navigation on larger screens */
@media (min-width: 769px) {
    .hamburger {
        display: none;
    }

    .sidebar {
        display: none;
    }
}

/* Hide checkbox input */
#menu-toggle {
    display: none;
}